<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCXCpTtzQ83KaC9mPsA_o5GuLnZ8GdfaB0</string>
	<key>GCM_SENDER_ID</key>
	<string>953427963506</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ishop.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>spm-project-cd3d5</string>
	<key>STORAGE_BUCKET</key>
	<string>spm-project-cd3d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:953427963506:ios:b3f24aeabfe30d2c409ceb</string>
</dict>
</plist>